include LICENSE
include README.rst
recursive-include src *.py
include src/tokei/binaries/macos-latest/tokei
include src/tokei/binaries/ubuntu-latest/tokei
include src/tokei/binaries/windows-latest/tokei.exe
